<settings>
    <category label="30001">
        <setting label="30017" type="bool" id="only_subscribed" default="true"/>
        <setting label="30020" type="bool" id="channels_with_epg" default="true"/>
        <!-- <setting label="30021" type="bool" id="add_extra_info" default="true"/> -->
        <setting id="use_ttml2ssa" type="bool" label="$ADDON[script.module.ttml2ssa 32202]" default="false"/>
        <setting id="ssa_settings" type="action" label="$ADDON[script.module.ttml2ssa 32201]" option="close" action="Addon.OpenSettings(script.module.ttml2ssa)" enable="eq(-1,true)"/>
        <setting label="30019" type="action" id="is_settings" action="Addon.OpenSettings(inputstream.adaptive)" enable="System.HasAddon(inputstream.adaptive)" option="close"/>
        <setting id="reuse_devices" type="bool" label="30023" default="false" visible="false"/>
        <setting id="open_session" type="bool" label="30022" default="true" visible="true"/>
    </category>
    <category label="30002">
        <setting label="30011" type="bool" id="manifest_modification" default="true"/>
        <setting label="30012" type="bool" id="use_proxy_for_license" default="true"/>
        <setting id="reregister" type="bool" label="30024" default="true" enable="eq(-1,true)"/>
    </category>
    <category label="30003">
        <setting label="30010" type="labelenum" id="drm_type" values="Widevine|Playready"/>
    </category>
</settings>

